body{
    color: #40514E;
    margin: 0;/*all the parts will b of 0 width*/
    text-align: center;/*for centering everything if it spreads from left to right means doesnot have width*/
    font-family: 'Merriweather', serif;
    font-size: 100%;
}
h1{
    color: #459D72;
    margin: 50px auto 0 auto;/* all others will b covered by body but for top this must need*/
    font-family: 'Sacramento',cursive;
    font-size: 5.625rem;
}
h2{
    color: #459D72;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding: 10px;
}
h3{
    color: #459D72;
    font-family: 'Montserrat', sans-serif;
}
p{
    line-height: 2;/*for tergetting all the paragraphs*/
}

hr{
    border: dotted #EAF6F6 6px;/*height*/
    border-bottom: none;
    width: 4%;
    margin: 80px auto;
}

a{
    color: #90D26D;
    font-family: 'Montserrat', sans-serif;/*must for matching with the other writing as by default it is different font*/
    margin: 10px 20px;
    text-decoration: none;/*as bydefault it is underlined*/
}

a:hover{
    color:#DEFBC2;
}

.top-container{
    background-color: #DEFBC2;
    padding-top: 100px;
    position: relative;
}

.middle-container{
    margin: 100px 0;

}
.bottom-container{
    background-color: #459D72;
    padding: 50px 0 20px 
}
.p{
    text-decoration: underline;
}
.topimg{/*cloud*/
    position:absolute;
    right: 300px;
    top: 100px;

}
.bottomimg{
    position: absolute;
    left: 300px;
}

.pro {
    text-decoration: underline;
  }
  
.intro {/*just for looking nice*/
    width: 30%;
    margin: auto;
  }
  
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
.copyright {
    color:#DEFBC2;
    font-size: 0.75rem;
    padding: 20px 10px;
  }

.skill-row{
    /*display: inline-block;/*no need to make the whole to be inline*/
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.comp{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chi{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.btn {
    background: #90D26D;
    background-image: -webkit-linear-gradient(top, #90D26D, #459D72);
    background-image: -moz-linear-gradient(top, #90D26D, #459D72);
    background-image: -ms-linear-gradient(top, #90D26D, #459D72);
    background-image: -o-linear-gradient(top, #90D26D, #459D72);
    background-image: linear-gradient(to bottom, #90D26D, #459D72);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #DEFBC2;
    background-image: -webkit-linear-gradient(top, #DEFBC2, #90D26D);
    background-image: -moz-linear-gradient(top, #DEFBC2, #90D26D);
    background-image: -ms-linear-gradient(top, #DEFBC2, #90D26D);
    background-image: -o-linear-gradient(top, #DEFBC2, #90D26D);
    background-image: linear-gradient(to bottom, #DEFBC2, #90D26D);
    text-decoration: none;
  }